# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
rebop-local.code-workspace
*rebop_*.json
*rebop_*.gz
.DS_Store
gogrep.go
main.o

go.sum
rebop
rebopprobe
reBop-probe
local.db
config/config.development.yml
build-probes.sh
reBop-probe-bin/*

*.crt
*.cer
*.pem