# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
rebop-local.code-workspace
_rebop_*.json
_rebop_*.gz
.DS_Store
gogrep.go
main.o

go.sum
rebop
rebopprobe
reBop-probe
reBop-probe.db
config/config.development.yml
reBop-probe-bin/*

*_rebop_*.gz
*.crt
